/* CSS for html report generated during dry run. */
body{
    font-family: sans-serif;
  }
  h1,h3{
    margin-left: 15px;
  }
  table, th, td {
      border-collapse: collapse;
      margin-left: 0;
  }

  #cloud_table {
      border-collapse: collapse;
      margin: 25px 0;
      font: 0.9em sans-serif;
      min-width: 800px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      border-radius: 5px 5px 0 0;
      overflow: hidden;
  }

  #cloud_table thead tr {
      background-color: #009879;
      color: #ffffff;
      text-align: center;
      font-weight: bold;
  }

  #cloud_table th, #cloud_table td {
      padding: 12px 15px;
  }

  #cloud_table th:not(:last-child), #cloud_table td:not(:last-child) {
      border-right: 0.1px solid black;
  }

  #cloud_table tbody tr {
      border-bottom: 1px solid #dddddd;
      color: #488b8b;
      font-weight: bold;
  }

  #cloud_table tbody tr:nth-of-type(odd) {
      background-color: #f3f3f3;
  }

  #cloud_table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
  }

  #cloud_table tbody td {
      text-align: left;
  }

  ul {
      margin: 0;
      padding: 0 0 0 20px;
      list-style-type: circle;
  }

  ul li {
      margin-top: 10px;
      margin-bottom: 10px;
  }
  #cloud_table td {
     font-size: 0.8em;
  }
